# ============================
# Seguridad (CRÍTICO)
# ============================
*.pem
keys/
**/*.pem

# ============================
# Build / Distribución
# ============================
*.crx
build/
**/*.crx

# ============================
# Temporales
# ============================
*.log
*.tmp

# ============================
# Sistema
# ============================
.DS_Store
Thumbs.db

